body{
    background-image: url("https://www.everwallpaper.co.uk/cdn/shop/collections/marble-geometry-wallpaper-mural.jpg?v=1660198030");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: allright;
    font-weight: lighter;
    color: rgb(59, 59, 59);
}

h1{
    font-size: 7vw;
    /* color: rgb(59, 59, 59); */
}

h2{
    font-size: 3vw;
    margin-top: 2vw;
    /* color: rgb(59, 59, 59); */
}

h3{
    text-decoration: underline;
    text-align: center;
}

#sobreMi{
    background-color: pink;
}

#inicio{
    margin-top: 12%;
    margin-bottom: 20%;
}

#contacto{
    font-size: large;
    margin: 2%;
    text-align-last: center;
}

div.secciones{
    text-align: left;
    padding: 2%;
    margin-bottom: 4%;
    width: 90%;
    border-radius: 7%;
    background-color: rgba(255, 255, 255, 0.493);
}


.tabla {
    display: flex;
    justify-content: space-around;
}